@charset "ISO-8859-1";

.containerVoo{
	
	display: flex;
	flex-direction: row;
	
	font-size: 18px;
	padding: 50px;
	z-index: 1;
	
}

.escalas{
	margin-right:5%;
	margin-left :5%;
	float: right;
	display: flex;
	flex-direction: column;
	width: 40%;
}
.voo{
	margin-right:5%;
	margin-left :5%;
	float: left;
	display: flex;
	flex-direction: column;
	width: 40%;
}

.btn{
	margin-top:30px!important;
	width:20%!important;
	margin-left: 40%!important;
	margin-right: 40%!important;
	margin-bottom: 10% !important;
}